
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: linear-gradient(to bottom, #16222a, #3a6073);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-container {
  backdrop-filter: blur(10px);
  background: rgba(0, 0, 0, 0.7);
  padding: 20px 40px;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
}

.login-form h2 {
  text-align: center;
  margin-bottom: 20px;
}

.input-group {
  position: relative;
  margin-bottom: 20px;
}

.input-group input {
  width: 100%;
  padding: 10px 40px 10px 10px;
  border: none;
  border-radius: 5px;
  background: #f5f5f5;
  color: #333;
  font-size: 16px;
}

.input-group .icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #888;
}

.submit-btn {
  width: 100%;
  padding: 10px;
  background: #00aaff;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.submit-btn:hover {
  background: #0088cc;
}



@media screen and (max-width: 768px) {
  
  .login-container {
    width: 90%; 
    padding: 20px; 
  }

  .login-form h2 {
    font-size: 20px; 
    margin-bottom: 15px;
  }

  .input-group input {
    font-size: 14px; 
    padding: 10px; 
  }

  .submit-btn {
    font-size: 14px; 
    padding: 12px; 
  }
}


@media screen and (max-width: 480px) {
  
  .login-container {
    width: 100%; 
    padding: 15px; 
  }

  .login-form h2 {
    font-size: 18px; 
    margin-bottom: 10px;
  }

  .input-group input {
    font-size: 12px; 
    padding: 8px; 
  }

  .submit-btn {
    font-size: 14px; 
    padding: 10px; 
  }
}

